<nav
  class="flex items-center justify-between flex-wrap bg-white px-4 h-16 shadow-lg fixed w-full z-50"
>
  <div class="ml-2 flex items-center flex-shrink-0 text-purple-600">
    <a class="font-semibold text-xl" [routerLink]="['/']">BuyIt</a>
  </div>
  <div class="flex">
    <a
      *ngIf="!auth.isLoggedIn"
      [routerLink]="['/auth']"
      class="text-lg text-purple-600 hover:text-purple-500 active:text-purple-700 mr-4"
      >Login / Sign up</a
    >
    <a
      *ngIf="auth.isLoggedIn"
      (click)="auth.logout()"
      class="text-lg text-purple-600 hover:text-purple-500 active:text-purple-700 mr-4 cursor-pointer"
    >
      Logout
    </a>
    <a
      appClickStopPropagation
      class="text-lg text-purple-600 hover:text-purple-500 active:text-purple-700 cursor-pointer"
      (click)="showCartPopup = !showCartPopup"
      >Cart
      <span
        class="text-lg bg-gray-300 text-gray-700 rounded-lg py-1 px-2 ml-1"
        >{{ cart.amountOfProducts }}</span
      ></a
    >
  </div>
  <div
    *ngIf="showCartPopup"
    appClickOutside
    (clickOutside)="showCartPopup = false"
    id="cart-popup"
    class="absolute right-0 bg-white shadow-lg flex flex-col w-84 rounded-b-lg border border-gray-400"
  >
    <div
      class="flex justify-center text-lg p-2 text-gray-700 font-bold tracking-wider border-b border-gray-400"
    >
      <span>My Cart</span>
    </div>
    <div
      *ngIf="cart.currentCart.length === 0"
      class="flex flex-col justify-center text-center text-lg text-gray-700 p-8"
    >
      <span>There's nothing here yet! </span>
      <span>Look around and find something you like</span>
    </div>
    <div id="cart-content" perfectScrollbar>
      <div
        class="cart-item flex p-4 border-t border-gray-400"
        *ngFor="let item of cart.currentCart"
      >
        <img [src]="item.product.image" class="w-12 h-12 mr-4" />
        <div class="flex w-full items-center text-lg justify-between">
          <div class="flex flex-col">
            <span>{{ item.product.name }}</span>
            <span class="text-sm text-gray-600"
              >Quantity: {{ item.amount }}</span
            >
          </div>
          <div class="flex flex-col">
            <span class="font-bold text-purple-600 text-right"
              >{{ item.product.price * item.amount }} €</span
            >
            <span
              class="block text-sm text-gray-600 hover:text-gray-700 cursor-pointer"
              (click)="cart.removeFromCart(item.product.id)"
              appClickStopPropagation
            >
              Remove
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="this.cart.currentCart.length > 0"
      class="border-t border-gray-400 items-center pb-4 flex flex-col justify-center"
    >
      <div class="flex justify-between text-lg w-full p-4">
        <span class="block ml-16">Total:</span
        ><span class="font-bold text-purple-600 text-right"
          >{{ cart.currentTotal }} €</span
        >
      </div>
      <button
        class="border w-64 py-2 border-purple-600 bg-purple-600 text-white hover:bg-purple-500 hover:border-purple-500 active:bg-purple-700 active:border-purple-700 rounded-full"
        [disabled]="cart.currentCart.length === 0"
        (click)="handleCheckout()"
      >
        Checkout
      </button>
    </div>
  </div>
</nav>
