<nav
  class="flex items-center justify-between flex-wrap bg-white px-4 h-16 shadow-lg fixed w-full z-50"
>
  <div class="ml-2 flex items-center flex-shrink-0 text-purple-600">
    <a class="font-semibold text-xl" [routerLink]="['/']">BuyIt</a>
  </div>
  <div class="flex">
    <a
      *ngIf="!auth.isLoggedIn"
      [routerLink]="['/auth']"
      class="text-lg text-purple-600 hover:text-purple-500 active:text-purple-700 mr-4"
      >Login / Sign up</a
    >
    <a
      *ngIf="auth.isLoggedIn"
      (click)="auth.logout()"
      class="text-lg text-purple-600 hover:text-purple-500 active:text-purple-700 mr-4 cursor-pointer"
    >
      Logout
    </a>
    <a
      class="text-lg text-purple-600 hover:text-purple-500 active:text-purple-700 mr-4 cursor-pointer"
      >Cart</a
    >
  </div>
</nav>
